<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {% for item in site.data.navigation %}
          <li class="nav-{{ item.key }}
                 {% if page.current == item.key %} nav-current{% endif %}"
              role="presentation">
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
    </ul>
    <!-- se mai servisse abilitare il bottone del feed rss
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
    -->
    <!-- raggruppa qui le tue icone social/mail -->
      <div class="nav-social">
        <a class="nav-icon" href="https://instagram.com/dodecagauge" target="_blank" rel="noopener">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="nav-icon" href="mailto:l.scala.1997@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
</div>
<span class="nav-cover"></span>
