<style>
  /* rimuove numeri romani e puntini di leader */
  .nav > ul > li::after {
    display: none !important;
    content: none !important;
  }
</style>
<div class="nav">
    <h3 class="nav-title">Sommario</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {% for item in site.data.navigation %}
          <li class="nav-{{ item.key }}
                 {% if page.current == item.key %} nav-current{% endif %}"
              role="presentation">
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
